<!DOCTYPE html>
<html lang="en">
<head> Country Details
    <meta charset="UTF-8">
    <title>Country Details</title>
</head>
<body>
<p>
    <table border="1">
    <caption>Country Information</caption>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Continent</th>
  </tr>
  <tr>
    <td>{{ country.Name }}</td>
    <td>{{ country.Code }}</td>
    <td>{{ country.Continent }}</td>
  </tr>
</table>
</p>
<p>
    {{ error }}
</p>
<p>
    <a href="{% url 'logout' %}">Signout</a>
</p>
<p>
    <a href="{% url 'index' %}">Go back to Search Dashboard</a>
</p>
</body>
</html>